<!--footer-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      
      
    <a id="foot" class="navbar-text" href="https://github.com/shachidesai12" target="_blank">
        |GitHub|
    </a>
    <a id="foot" class="navbar-text" href="https://www.linkedin.com/in/shachidesai/" target="_blank">
      |LinkedIn|
    </a>

    <h6 class="navbar-text">&copy; Copyright 2024. All rights reserved</h6>

     
      
    </nav>
  </footer>
</body>
</html>