<% include Partials/header.ejs%>
<% include Partials/mainNav.ejs%>
<% include Partials/footer.ejs%>
    <!--Main Content-->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> <!--The value replaced by title is initialized in js file-->   

