<% include Partials/header.ejs%>
<% include Partials/mainNav.ejs%>
<% include Partials/footer.ejs%>
    <!--Home page contents-->
    <div id="homePage">
        <link href="/Content/full.css" rel="stylesheet" type="text/css">
        <div id="homeText">
            <h1>Hello, <span></span></h1>
            <h1>My Name is <span></span></h1>
            <h1>Shachi Desai<span></span></h1>
            <h2> Welcome to my Personal Portfolio!</h2>
        </div>
        <div class="box">
            <div id="box">
                <h2>Feel free to contact me using the menu on the top right.</h2>
            </div>
         </div>
    </div>
</div>

